
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */
.text-primary{
    color : #FD6E0A;
}

.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.banner-description{
    font-size: 20px;
    color: #474747;
}

.secondary-bg{
    background-color: #FFF8F3;

}
.text-center{
    text-align: center;
}

/* nav styles */
nav
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
} 
.nav-title{
    font-weight: 800;
    font-size: 45px
}  
nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul a{
    text-decoration: none;
    font-size: 20px;
    
}

/* header */
.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    width: 50%;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-profile-pic{
    width: 580px; ;
}
.banner-description{
    font-size: 20px;
    color: #474747;
}

/* main styles */
.main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}

/* About */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}


.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}

/* skills section styles */
.skills-container{
    display: flex;
    gap: 24px;
}
 
.skills{
    margin-top: 130px;
} 
.skill{
    padding: 30px;
    bordeer-redius: 5px;
    box-shadow: 0px 50px 0px rgba(0,0,0,0.06);
}

/* resume section styles */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description{
    color : #757575;
}
.experience-sub-title{
    font-size: 20px;
    color : #757575;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume-download-btn{
    margin-top: 50px;
}

/* footer styles */
.footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-colunm{
    width: 50%;
}

footer input[type="email"], [type="text"], footer textarea{
    width: 100%;
    height: 64px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border:none;
    display: block;
    margin-bottom: 24px;
}
